.main_body{
    height: 100%;
    background-color: black;
    padding: 1px;
}
.imgBack{
    width: 100%;
    height: 1000px;
    background-image: url('../../../public/img/backImg.jpeg');
    background-color: black;
}
h1{
    padding: 12%;
    align-items: center;
    color: white;
    justify-content:center ;
    display: flex;
    text-align: center;
    font-size: 60px;
}
p,h3{
    color:white;
}
.cards{
    background-color:black;
    height: 100%;
    width: 100%;
    display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardImgcss{
    padding-top: 5px;
    width: 400px;
    height: 300px;
}